#sidebar.bmd-layout-drawer.bg-faded
  header
    a.navbar-brand Title

  #accordion
    .card
      #headingOne.card-header.pa-0
        h5.mb-0
          button.btn.collapsed.btn-block.mb-0.pt-3.pb-3 aria-controls="collapseOne" aria-expanded="false" data-target="#collapseOne" data-toggle="collapse"
            - if joined_teams.count == 0
              | 参加していません😢
            - else
              | グループ
      #collapseOne.collapse.show aria-labelledby="headingOne" data-parent="#accordion"
        .card-body.pa-0
          ul.list-unstyled.mb-0
            - joined_teams.each do |team|
              = render "teams/team_list", team: team, size: "avatar-sm"

    .card
      #headingOne.card-header.pa-0
        h5.mb-0
          a.btn.btn-block.collapsed.mb-0.pt-3.pb-3 href="#team-modal-new" data-toggle="modal"
            | 新しいグループ
