- size      = "md" if size.nil?
- alt       = ""   if alt.nil?
- frame     = false if frame.nil?
- avatar    = asset_path("default.png") if avatar.nil? || avatar.attachment.nil?
- thumbnail = (frame) ? "img-thumbnail" : ""
- id        = "" if id.nil?

- if id == ""
  = image_tag avatar, class: "rounded-circle avarar avatar-#{size} #{thumbnail}", alt: "#{alt}"
- else
  = image_tag avatar, class: "rounded-circle avarar avatar-#{size} #{thumbnail}", alt: "#{alt}", id: "#{id}"
